innlogging.xsd

<?xml version="1.0"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="http://localhost"
elementFormDefault="qualified">

<xs:element name="bruker">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="epostadresse" type="xs:string"/>
			<xs:element name="passordhash" type="xs:string"/>
			<xs:element name="fornavn" type="xs:string"/>
			<xs:element name="etternavn" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
